.texto-pequeno {
    font-size: 13px;
}
.divs-facil {
    width: 325px;
}
footer p {
    color: #cccccc;
}

section i,
.lightGreen {
    color: #badd01;
}
.div-2 a{
    background-color: #9353FF;
}
